/* ## Colors

### Primary

- Light red (CTA text): hsl(356, 100%, 66%)
- Very light red (CTA hover background): hsl(355, 100%, 74%)
- Very dark blue (headings): hsl(208, 49%, 24%)

### Neutral

- White (text): hsl(0, 0%, 100%)
- Grayish blue (footer text): hsl(240, 2%, 79%)
- Very dark grayish blue (body copy): hsl(207, 13%, 34%)
- Very dark black blue (footer background): hsl(240, 10%, 16%)

### Gradient

Background gradient - Intro/CTA mobile nav:

- Very light red: hsl(13, 100%, 72%)
- Light red: hsl(353, 100%, 62%)

Background gradient - body:

- Very dark gray blue: hsl(237, 17%, 21%)
- Very dark desaturated blue: hsl(237, 23%, 32%)


### Fonts

- Family: [Overpass](https://fonts.google.com/specimen/Overpass?preview.text_type=custom)
- Weights: 300, 600

- Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom)
- Weights: 400, 500, 700 */

/* font-family: 'Overpass', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */


body {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Overpass", sans-serif;
  text-align: center;
  color: hsl(207, 13%, 34%);
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

h2, h3, h4 {
  color: hsl(208, 49%, 24%);
}

h1 {
  margin: 0 0 3%;
  font-size: 2.2rem;
}

h2, h3 {
  font-size: 1.8rem;
}

p{
  margin: 0;
  letter-spacing: 0.05rem;
  line-height: 2;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

hr {
  margin: -2% 10% 11%;
  border-width: 1px 0 0;
  border-color: hsla(0, 0%, 95%, 0.5);
}

button {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  border-radius: 60px;
  border-width: 0;
}

/* First Section */

.firstSection {
  background-image: url("../images/bg-pattern-intro.svg"), linear-gradient( hsl(13, 100%, 72%)  ,hsl(353, 100%, 62%) );
  background-position: 41% 39%;
  background-size: 350%;
  background-repeat: no-repeat;
  border-radius: 0 0 0 100px;
  padding-bottom: 25%;
  color: white;
}

.websiteHeading {
  margin: 15% auto ;
  width: 85%;
  line-height: 1.4;
}

.buttons {
  margin: 15% 0 0 ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 5%;
  width: 48%;
    border: 1px solid;
}

.left {
color: hsl(356, 100%, 66%);
background-color: white;
}

.right {
  background-color: transparent;
}

/* NavBar Styling */
.navbar {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
  padding-top: 3%;
  font-size: 1.4rem;
  position: relative;
}

.navMobileBar {
  padding: 15% 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navIcon {
  cursor: pointer;
}

.navMenu {
  position: absolute;
  width: 100%;
  top: 95%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 10px 20px 10px rgba(0, 0, 0, 0.1);
  padding: 12% 0;
}

.navItems {
  margin: 0 10% 10%;
}

.navbarHeadings {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navHeading {
  margin: 0 5% 0 0;
  cursor: pointer;
}

.hiddenItems {
  background-color: hsl(0, 0%, 95%);
  border-radius: 8px;
  margin: 10% 0 0;
  padding: 5% 0;
  line-height: 2.5;
  font-size: 1.1rem;
  font-weight: 600;
  color: hsla(208, 49%, 24%, 0.9);
}

.navbarBtn {
  background-image: linear-gradient(to bottom right, hsl(13, 100%, 72%),hsl(353, 100%, 62%));
  margin-top: -2%;
    padding: 20px 50px;
}

/* JS toggle Class navbar */
.click {
  color: hsla(208, 49%, 24%, 0.7);
}

.hidden {
    display: none;
}

.rotateArrow {
  transform: rotate(180deg);
}

/* Second Section */

.secondSection {
  margin: 25% auto 65%;
  width: 85%;
}

.secondSection img {
  width: 100%;
  margin: 5% auto 3%;
}

.secondParagraph {
  margin-top: 15%;
}

/* Third Section */

.thirdSection {
  background-image: url("../images/bg-pattern-circles.svg"), linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-repeat: no-repeat;
  background-position: center 150%;
  color: white;
  margin: 0;
  border-radius: 0 100px 0 100px;
}

.thirdSection h2 {
  color: white;
  font-size: 2.3rem;
  margin: 3% auto 5%;
}

.content {
  padding-bottom: 35%;
  width: 85%;
}

.phoneImg {
  width: 100%;
  margin: -170px 0 0;
}

/* Forth Section */

.forthSection {
  width: 85%;
  margin: 15% auto 25%;
  display: flex;
  flex-wrap: wrap;
}

.forthSection img {
  width: 100%;
  margin-bottom: 3%;
}

/* Last Section */

.lastSection {
  background-color: hsl(240, 10%, 16%);
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20% 0;
  border-radius: 0 100px 0 0 ;
}

.footer {
  width: 85%;
  line-height: 2rem;
  color: hsl(240, 2%, 79%);
}

.footer img {
  margin-bottom: 8%;
  width: 30%;
}

.footer h4 {
  color: white;
  margin: 5% 0;
}

/* attribution */
.attribution {
  font-size: 11px;
  text-align: center;
  background-color: hsl(240, 10%, 16%);
  color: hsl(240, 2%, 79%);
}

.attribution a {
  color: hsl(240, 2%, 79%);
}
